<footer id="footer-container">
    <div id="footer-container-desktop" class="row footer-row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 footer-link-container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer-page-links">
                    <a href="http://apigw.jio.ril.com/help/jiocinema/about/" target="_blank" rel="noopener">About
                        JioCinema </a>|
                    <a href="http://apigw.jio.ril.com/help/jiovod/eula" target="_blank" rel="noopener"> Terms of Use
                    </a>|
                    <a href="http://apigw.jio.ril.com/help/jiovod/privacypolicy" target="_blank" rel="noopener">
                        Privacy Policy </a>|
                    <a href="http://apigw.jio.ril.com/help/jiovod/faqs" target="_blank" rel="noopener"> FAQ </a>|
                    <!-- <a href="https://www.jiocinema.com/watch-luka-chuppi-full-movie-online" target="_blank" rel="noopener"> Luka Chuppi </a>| -->
                    <a href="" ng-click="sendMail()" rel="noopener"> Feedback</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer-text">
                    <div>Don't have a Jio SIM?</div>
                    <div>Visit <a href="http://www.jio.com/" target="_blank" rel="noopener">www.jio.com</a> to get a
                        SIM now</div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 footer-contactus-container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer-contactus-title">
                Connect with us
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a class="facebook" href="https://www.facebook.com/JioCinema/?ref=aymt_homepage_panel" target="_blank" rel="noopener">
                    <img alt="facebook" src="assets/img/facebook.png" class="normal">
                    <img alt="facebook" src="assets/img/facebook-Hover.png" class="hover">
                </a>
                <a class="twitter" href="https://twitter.com/JioCinema" target="_blank" rel="noopener">
                    <img alt="twitter" src="assets/img/twitter.png" class="normal">
                    <img alt="twitter" src="assets/img/twitter-hover.png" class="hover">
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 footer-appstore-container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer-appstore-title">
                Download JioCinema App on
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="https://play.google.com/store/apps/details?id=com.jio.media.ondemand&amp;utm_source=web" target="_blank" class="google-store" rel="noopener"><img alt="playstore" src="assets/img/btn_google_play.png"></a>
                <a href="https://itunes.apple.com/in/app/jioondemand/id1067316596?mt=8&amp;utm_source=web" target="_blank" class="apple-store" rel="noopener"><img alt="appstore" src="assets/img/btn_app_store.png"></a>
            </div>
        </div>
    </div>
    <div id="footer-container-mobile" class="row footer-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer-link-container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer-page-links">
                    <a href="http://apigw.jio.ril.com/help/jiocinema/about/" target="_blank" rel="noopener">About
                        JioCinema </a>|
                    <a href="http://apigw.jio.ril.com/help/jiovod/eula" target="_blank" rel="noopener"> Terms of Use
                    </a>|
                    <a href="http://apigw.jio.ril.com/help/jiovod/privacypolicy" target="_blank" rel="noopener">
                        Privacy Policy </a>|
                    <a href="http://apigw.jio.ril.com/help/jiovod/faqs" target="_blank" rel="noopener"> FAQ </a>|
                    <!-- <a href="https://www.jiocinema.com/watch-luka-chuppi-full-movie-online" target="_blank" rel="noopener"> Luka Chuppi </a>| -->
                    <a href="" ng-click="sendMail()" rel="noopener"> Feedback</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer-text">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer-contactus-container">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 footer-contactus-title">
                Connect with us
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 footer-contactus-icon">
                <a class="facebook" href="https://www.facebook.com/JioCinema/?ref=aymt_homepage_panel" target="_blank" rel="noopener">
                    <img alt="facebook" src="assets/img/facebook.png">
                </a>
                <a class="twitter" href="https://twitter.com/JioCinema" target="_blank" rel="noopener">
                    <img alt="twitter" src="assets/img/twitter.png">
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer-appstore-container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="https://play.google.com/store/apps/details?id=com.jio.media.ondemand&amp;utm_source=web" target="_blank" class="google-store" rel="noopener"><img alt="playstore" src="assets/img/btn_google_play.png"></a>
                <a href="https://itunes.apple.com/in/app/jioondemand/id1067316596?mt=8&amp;utm_source=web" target="_blank" class="apple-store" rel="noopener"><img alt="appstore" src="assets/img/btn_app_store.png"></a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer-text">
            <span>Don't have a Jio SIM?</span>
            <span>Visit <a href="http://www.jio.com/" target="_blank" rel="noopener">www.jio.com</a> to get a SIM
                now</span>
        </div>
    </div>
    <div class="row footer-bottom-text">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            Copyright © 2021, Reliance Projects and Property Management Services Limited (RPPMSL). All rights
            reserved.
        </div>
    </div>
</footer>